---
---

@import "{{ site.theme }}";
$spacing-unit:     30px !default;
$background-color: #2d2d2d;
$border-color-01: #383838;
$border-color-03: #b5e853;
$text-color: #63c0f5;
$base-line-height: 1.5;
$on-medium: 600px;

.site-nav {
    position: absolute !important;
    top: 15px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $border-color-01;
    border-radius: 5px;
    text-align: right;

    .nav-trigger {
        display: none;
    }

.menu-icon {
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg path {
            fill: $border-color-03;
        }
    }

label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

input ~ .trigger {
        clear: both;
        display: none;
    }

input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }

.page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: block;
        padding: 5px 10px;

        // Gaps between nav items, but not on the last one
&:not(:last-child) {
    margin-right: 0;
}
margin-left: 20px;
    }

@media screen and (min-width: $on-medium) {
        position: static;
        float: right;
        border: none;
        background-color: inherit;

        label[for="nav-trigger"] {
            display: none;
        }

.menu-icon {
            display: none;
        }

input ~ .trigger {
            display: block;
        }

.page-link {
            display: inline;
            padding: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }
margin-left: auto;
        }
    }
}

ul.taglist li { 
  list-style-image: none;
  display: inline-block;
}

img.mastodon_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.75;
}